* {
  margin: 0;
  padding: 0;
  border: 0;
  transition: all 0.3s ease;
}
/* 行列变量，在js修改即可,自动在body插入行内样式 */
:root {
  --row: 6;
  --col: 6;
  /* row和col最小值 */
  --max: max(var(--row), var(--col));
  --min: min(var(--row), var(--col));
}
body {
  /*火狐*/
  -webkit-user-select: none;
  -moz-user-select: none;
  /*webkit浏览器*/
  -ms-user-select: none;
  /*早期浏览器*/
  user-select: none;

  background: #000;
  /*IE10*/
  -khtml-user-select: none;
  overflow: hidden;
}

.wrapper {
  position: relative;

  width: 100%;
  height: 100vh;
  /*border: 1px solid #ccc;*/
  margin: 0 auto;
  background: url("images/game-bg.png") center no-repeat;
  background-size: cover;
}

.wrapper .init-box {
  position: relative;
  width: 100%;
  height: 100%;
  background: url("images/start-cover.png") center no-repeat;
  background-size: contain;
}

.wrapper .init-box .start-btn {
  position: absolute;
  left: 0;
  width: 100vw;
  height: 30vw;
  cursor: pointer;
  top: 55%;
}

.wrapper .game-box {
  position: relative;
  height: 100%;
  width: 100%;
}

.wrapper .game-box .toolbar {
  font-size: 24px;
  position: relative;
  width: 100%;
  max-width: 768px;
  height: 11.5vw;
  max-height: 85px;
  background: url("images/toolbar3.png") center no-repeat;
  background-size: 100%;
  margin: 0 auto;
}

.wrapper .game-box .toolbar img {
  height: 5vw;
  max-height: 40px;
}
.wrapper .game-box .toolbar .time {
  position: absolute;
  top: 40%;
  transform: translateY(-50%);
  left: 15%;
}

.wrapper .game-box .toolbar .level {
  position: absolute;
  top: 40%;
  transform: translateY(-50%);
  left: 37.5%;
}

.wrapper .game-box .toolbar .disorder {
  position: absolute;
  height: 100%;
  width: 15%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
}

.wrapper .game-box .toolbar .disorder img {
  right: -10px;
  bottom: 0;
  position: absolute;
}

.wrapper .game-box .toolbar .scoring {
  position: absolute;
  transform: translateY(-50%);
  top: 40%;
  left: 67.5%;
  cursor: pointer;
}

.wrapper .game-box .game-area {
  position: relative;
  width: 100%;
  height: calc(100vh - min(85px, 11.5vw));
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  /* padding: 40px 0; */
}

.wrapper .game-box .game-area table#game {
  position: absolute;
  border-spacing: 0;
  border-collapse: collapse;
  margin-bottom: 11.5vw;
}
.wrapper .game-box .game-area table#game tr {
  height: calc(90vmin / var(--max));
  display: flex;
}
.wrapper .game-box .game-area table#game .game-row td {
  width: calc(90vmin / var(--max));
  text-align: center;
  vertical-align: middle;
  display: flex;
  align-items: center;
  justify-content: center;
}

.wrapper .game-box .game-area table#game .game-row td .pic-box {
  display: flex;
  width: 90%;
  height: 90%;
  cursor: pointer;
  background: url("images/pic-bg.png") center no-repeat;
  background-size: contain;
  align-items: center;
  justify-content: center;
}
.wrapper .game-box .game-area table#game .game-row td .pic-box img {
  width: 7vmin;
  height: 7vmin;
}
.wrapper .game-box .game-area table#game .game-row td .pic-box.active {
  border-radius: 16px;
  background: url(images/active.png) center no-repeat;
  background-size: 124%;
}

.wrapper .game-box .game-area #canvas {
  position: absolute;
  pointer-events: none;
  height: calc(calc(90vmin) / var(--max) * var(--row));
  width: calc(calc(90vmin) / var(--max) * var(--col));
  margin-bottom: 11.5vw;
}
/* 横屏 */
@media screen and (orientation: landscape) {
  .wrapper .game-box .game-area table#game {
    margin-bottom: unset;
  }
  .wrapper .game-box .game-area table#game tr {
    height: calc(calc(90vmin - min(85px, 11.5vw)) / var(--min));
  }
  .wrapper .game-box .game-area table#game .game-row td {
    width: calc(calc(90vmin - min(85px, 11.5vw)) / var(--min));
  }
  .wrapper .game-box .game-area #canvas {
    /* height: calc(
      calc(calc(90vmin - min(85px, 11.5vw)) / var(--min) * var(--row))
    );
    width: calc(
      calc(calc(90vmin - min(85px, 11.5vw)) / var(--min) * var(--col))
    ); */
    margin-bottom: unset;
  }
}
.wrapper .game-over {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
}

.wrapper .game-over .current-score {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-5vmin, calc(-50% - 4.5vmin));
  width: 40vmin;
  height: 4.5vmin;
}
.wrapper .game-over > img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90vmin;
}
.wrapper .game-over .current-score img {
  height: 4.5vmin;
}
.wrapper .game-over .history-score {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(3vmin, calc(-50% + 21.2vmin));
  width: 40vmin;
  height: 4.5vmin;
  font-size: 3.5vmin;
  color: #999;
}

.wrapper .game-over .replay-btn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, calc(-50% + 14.5vmin));
  width: 40vmin;
  height: 7.75vmin;
  cursor: pointer;
}

.empty {
  opacity: 0;
}

.hidden {
  display: none;
}

.number {
  display: inline-block;

  width: 34px;
  height: 34px;

  background-size: contain;
}

/*# sourceMappingURL=index.css.map */
